.container {
  width: 100%;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container button {
  background-color: inherit;
  border: 1px solid red;
  color: red;
}

.container button:active {
  background-color: rgb(255, 0, 0, 0.2);
}

button {
  margin: 0;
}

.text {
  color: black;
  text-decoration: none;
}

.text p {
  font-weight: bold;
  font-weight: 900;
}

.active p {
  margin-left: -22px;
  padding-left: 18px;
  border-left: 4px solid #ff2f5a;
  position: relative;
}
