@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.left {
  background-color: #2b2f3e;
  padding: 10px 20px;
  width: 14%;
  color: white;
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
}

.text {
  display: inline-block;
}

.left p {
  color: #64656a;
}

.main {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s linear;
}

.link:hover {
  text-shadow: 0 0 3px white;
}
